Link, li:hover, a:link, a{
    color: #002856;
}

a:hover, a:active{
    color: white;
}

.navbar {
    background-color: #007853;
    border-bottom: 20px solid #002856;
  }

  .navbar a, span {
    text-decoration: none;
    font-size: 1.5em;
    padding-left: 20px;
    color: #002856;
  }

  .navbar a:hover, .navbar span:hover {
    color: white;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    padding: 0;
  }
  
  .navbar li {
    margin-right: 10px;
  }

  
  .dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 223px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown span {
    cursor: pointer;
  }
  
.dropdown-content li {
    display: none;
    cursor: pointer;
    padding: 5px; 
    margin: 0; 
  }
.dropdown-content a {
    display: block;
    text-decoration: none;
    color: #002856;
    padding: 5px;
    margin: 0; 
}
.dropdown-content a:hover {
    background-color: #007853;
    color: white;
}
  .dropdown:hover .dropdown-content li {
    display: block;
  }
  
  .dropdown-content li:hover {
    background-color: #007853;
    color: white;
  }
  .home-icon {
    position: absolute;
    top: 0; 
    right: 0; 
  }
  
  .home-icon a {
    display: block;
  }
  
  

th {
  font-weight: bold;
  color: #002856;
}

td {
  color: #002856;
  border-top: 1px solid #002856; 
}

.sports-table > a {
  text-decoration: none;
  color: #002856;
}

.sports-table {
  background-color: white;
  border: 1px solid #002856;
  padding: 10px;
  position: absolute;
  top: 0;
  z-index: 1;
  width: 441%;
}

th {
  font-weight: bold;
  color: #002856;
}

td {
  color: #002856;
  border-top: 2px solid lightgray;
  transition: background-color 0.3s;
  padding: 5px;
  text-align: left; 
}

.sports-table a {
  text-decoration: none;
  color: #002856;
  display: block;
}

.sports-table a:hover {
  color: white;
}

.sports-table td:hover {
  background-color: #007853;
}

